::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.uk-section-default{
    background-image: url(./images/section-image.jpg);
}
.uk-navbar-nav>li>a{
    color: #ffffff;
}
.title{
    color: white;
}