::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.uk-section-default {
    background-image: url(./images/section-image.jpg);
}
.uk-navbar-nav>li>a, .title {
    color: #ffffff;   
}
.uk-icon-link {
    color:rgb(197, 195, 195) !important;
}

p {
    font-size: 18px;
}

.logo{
    /* border-radius: 50%; */
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

.logo:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}